<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.icc.app.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="org.icc.app.pojo.Article" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="web_id" property="webId" jdbcType="DECIMAL" />
    <result column="web_url" property="webUrl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.id != null" >
         and id = #{condition.id}
      </if>
      <if test="condition.titleLike != null" >
       <![CDATA[ and title LIKE CONCAT(CONCAT('%', #{condition.titleLike}), '%') ]]>
      </if>
    </trim>
  </sql>
  
  <sql id="Base_Column_List" >
    `id`, 
	`web_id`, 
	`web_url`, 
	`title`, 
	`content`, 
	`publisher`, 
	`publish_date`, 
	`create_date`
  </sql>
  
  <sql id="Select_Column_List" >
    `id`, 
	`web_id` AS `webId`, 
	`web_url` AS `webUrl`, 
	`title`, 
	`content`, 
	`publisher`, 
	DATE_FORMAT(`publish_date`, '%Y-%m-%d %T') AS `publishDate`,
	DATE_FORMAT(`create_date`, '%Y-%m-%d %T') AS `createDate`
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.icc.app.pojo.Criteria" >
    <include refid="common.MySQL_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `tb_articles`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.MySQL_Pagination_Tail" />
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `tb_articles`
    where `id` = #{id}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `tb_articles` where `id` = #{id}
  </delete>
  
  <insert id="insert" parameterType="org.icc.app.pojo.Article">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      select nextval('Article')
    </selectKey>
    insert into `tb_articles` (
    	<include refid="Base_Column_List" />
    )
    values (
    #{id}, #{webId}, #{webUrl}, #{title}, #{content}, #{publisher}, STR_TO_DATE(#{publishDate}, '%Y-%m-%d %T'), STR_TO_DATE(#{createDate}, '%Y-%m-%d %T')
    )
  </insert>
  
  <insert id="saveImage" parameterType="org.icc.app.pojo.ArticleImage">
  	<selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      select nextval('ArticleImage')
    </selectKey>
	INSERT INTO `tb_article_images` 
	(`id`, 	`article_id`, 	`img_url`, 	`create_date`)
	VALUES
	(#{id}, #{articleId}, #{imgUrl}, STR_TO_DATE(#{createDate}, '%Y-%m-%d %T')
	)
  </insert>
  
  <update id="updateImage"  parameterType="org.icc.app.pojo.ArticleImage">
  	UPDATE `tb_article_images` 
	SET
	`article_id` = #{articleId} , 
	`img_url` = #{imgUrl} , 
	`create_date` = STR_TO_DATE(#{createDate}, '%Y-%m-%d %T')
	
	WHERE
	`id` = #{id}
	;
  </update>
  
  <select id="countByExample" parameterType="org.icc.app.pojo.Criteria" resultType="java.lang.Integer" >
    select count(id) from `tb_articles`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByPrimaryKey" parameterType="org.icc.app.pojo.Article" >
    update `tb_articles`
    set
    `web_id` = #{webId},
    `web_url` = #{webUrl},
    `title` = #{tile},
	`content` = #{content},
	`publisher` = #{publisher}
    where `id` = #{id}
  </update>
  
    <select id="selectByCriteria" resultMap="articleOut" parameterType="org.icc.app.pojo.Criteria"> 
    	select
    	 	`a`.`id` AS `id`,
	    	`a`.`web_url` AS `webUrl`, 
			`a`.`title`, 
			`a`.`content`, 
			`a`.`publisher`, 
			DATE_FORMAT(`a`.`publish_date`, '%m-%d %H-%I') AS `publishDate`,
			`i`.`img_url` AS `imgUrl`
	    from `tb_articles` AS `a` left outer join `tb_article_images` AS `i`
	    on `a`.`id` = `i`.`article_id`
	    where 1 = 1
	    <if test="_parameter != null" >
	      <if test="condition.id != null" >
	         and `a`.`id` = #{condition.id}
	      </if>
	      <if test="condition.typeId != null" >
	         and `a`.`web_id` = (select id from tb_web_pages as w where w.type_id = #{condition.typeId})
	      </if>
	    </if>
	    <include refid="common.MySQL_Pagination_Tail" />
	</select> 
	
	<resultMap type="org.icc.app.pojo.Article" id="articleOut">
		<result column="id" property="id" />
		<result column="webUrl" property="webUrl" />
	    <result column="title" property="title" />
	    <result column="content" property="content" />
	    <result column="publisher" property="publisher" />
	    <result column="publishDate" property="publishDate" />
	    <collection property="imgs" resultMap="articleImgs" />
	</resultMap>

	<resultMap type="org.icc.app.pojo.ArticleImage" id="articleImgs">
		<result column="imgUrl" property="imgUrl" />
	</resultMap>
</mapper>