<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.icc.app.dao.WebPageMapper" >
  <resultMap id="BaseResultMap" type="org.icc.app.pojo.WebPage" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="site_id" property="siteId" jdbcType="DECIMAL" />
    <result column="type_id" property="typeId" jdbcType="DECIMAL" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="storage_folder" property="storageFolder" jdbcType="VARCHAR" />
    <result column="web_url" property="webUrl" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.id != null" >
         and id = #{condition.id}
      </if>
      <if test="condition.titleLike != null" >
       <![CDATA[ and name LIKE CONCAT(CONCAT('%', #{condition.nameLike}), '%') ]]>
      </if>
      <if test="condition.webUrl != null" >
       	and web_url = #{condition.webUrl}
      </if>
    </trim>
  </sql>
  
  <sql id="Base_Column_List" >
    `id`,
    `site_id`,
    `type_id`,
    `name`,
    `storage_folder`,
	`web_url`,
	`create_date`
  </sql>
  
  <sql id="Select_Column_List" >
    `id`,
	`site_id` AS `siteId`,
	`type_id` AS `typeId`,
	`name`,
	`storage_folder` AS `storageFolder`,
	`web_url` AS `webUrl`,
	DATE_FORMAT(`create_date`, '%m/%d/%Y %T') AS `createDate`
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.icc.app.pojo.Criteria" >
    <include refid="common.MySQL_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `tb_web_pages`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.MySQL_Pagination_Tail" />
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `tb_web_pages`
    where `id` = #{id}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `tb_web_pages` where `id` = #{id}
  </delete>
  
  <insert id="insert" parameterType="org.icc.app.pojo.WebPage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      select nextval('WebPage')
    </selectKey>
    insert into `tb_web_pages` (
    	<include refid="Base_Column_List" />
    )
    values (
    #{id}, #{siteId}, #{typeId}, #{name}, #{storageFolder}, #{webUrl}, STR_TO_DATE(#{createDate}, '%m/%d/%Y %T')
    )
  </insert>
  
  <select id="countByExample" parameterType="org.icc.app.pojo.Criteria" resultType="java.lang.Integer" >
    select count(id) from `tb_web_pages`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByPrimaryKey" parameterType="org.icc.app.pojo.WebPage" >
    update `tb_web_pages`
    set
    `site_id` = #{siteId},
    `type_id` = #{typeId},
    `name` = #{name},
    `storage_folder` = #{storageFolder},
	`web_url` = #{webUrl}
    where `id` = #{id}
  </update>
  
    <select id="selectAll" resultType="org.icc.app.pojo.WebPage"> 
    	select
	    	`p`.`id`,
			`site_id` AS `siteId`,
			`type_id` AS `typeId`,
			`p`.`name`,
			`storage_folder` AS `storageFolder`,
			`web_url` AS `webUrl`,
			`s`.`crawler_class` AS `crawlerClass`,
			DATE_FORMAT(`p`.`create_date`, '%m/%d/%Y %T') AS `createDate`
	    from `tb_web_pages` AS `p`
	    inner join `tb_sites` AS `s` on `p`.`site_id` = `s`.`id`
	</select> 

</mapper>